*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Segoe UI',sans-serif;

    background:#f5f7fa;
}

header{

    background:#0D2C4A;

    color:white;

    text-align:center;

    padding:25px;
}

header h1{

    font-size:2rem;
}

.contenedor{

    max-width:1200px;

    margin:30px auto;

    padding:20px;

    display:flex;

    flex-direction:column;

    gap:25px;
}

.card{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:
        0 5px 15px rgba(0,0,0,.08);
}

.card h2{

    color:#0D2C4A;

    margin-bottom:20px;
}

.dato{

    margin-bottom:10px;

    font-size:16px;
}

table{

    width:100%;

    border-collapse:collapse;
}

table th{

    background:#0D2C4A;

    color:white;

    padding:12px;
}

table td{

    padding:12px;

    border:1px solid #ddd;

    text-align:center;
}

.metodo-pago{

    display:block;

    margin-bottom:15px;

    font-size:18px;
}

.metodo-pago input{

    margin-right:10px;
}

.total{

    display:flex;

    justify-content:space-between;

    margin-top:25px;

    font-size:25px;

    font-weight:bold;

    color:#0D2C4A;
}

.btn-pagar{

    width:100%;

    margin-top:25px;

    border:none;

    padding:16px;

    background:#16a34a;

    color:white;

    font-size:18px;

    border-radius:10px;

    cursor:pointer;
}

.btn-pagar:hover{

    background:#15803d;
}